@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Rubik', sans-serif;
    /* font-family: sans-serif; */
    background-color: aliceblue;
}
a{
    text-decoration: none;
}
.menu-icon{display: none;} /* menu btn*/

.main-container  .bg-view{
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 90vh;
    z-index: -99;
    opacity: 0.9;
}
.navbar-section{
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
}
.navbar-section .logo img{
    width: 100px;
    cursor: pointer;
}
.nav-bar ul{
    display: flex;
    padding-top: 1.2rem;}
.nav-bar ul li{
    margin-right: 3rem;
    list-style: none;
    
}
.nav-bar ul li a{
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
}
.nav-bar ul li a:hover{
    color: #49cbda;
    transition: .5s;
}

/* MAIN SECTION START */

.main-section{
    margin-top:1rem ;
    padding: 0 4rem;
}
.main-f-row{
    display: flex;
    justify-content: space-between;
}
.main-f-row .f-row-head{
    width: 50%;
}
.main-f-row .f-row-head h1{
    margin: 3rem 0;
    color: #fff;
    font-size: 2.5rem;
    word-spacing: 4px;
    letter-spacing: 1px;
}
.main-f-row .f-row-head p{
    color: rgb(194, 192, 192);
    width: 400px;
}
.f-row-img {
    width: 50%;
}
.f-row-img img{
    position: relative;
    top: -5rem;
}

.main-s-row{
    display: flex;
    justify-content: space-between;
}
.s-row-btn button{
    padding: 1rem 1.4rem;
    background-color: #8ad8e0;
    border: none;
    border-radius: 15px;
    margin-right: 1rem;
}
/* .s-row-btn button:nth-child(1){background-color: #8ad8e0;} */
.s-row-btn button:nth-child(1) a{
    color: #39575a;
    font-weight: 600;
}
.s-row-btn button:nth-child(2){
    background-color: transparent;
    border: 2px solid #8ad8e0;
}
.s-row-btn button:nth-child(2):hover{
    background-color: #8ad8e0;
    transition: .9s;
}
.s-row-btn button:nth-child(2):hover a{
    color: #39575a;
}
.s-row-btn button:nth-child(2) a{
    color: #49cbda;
    font-weight: 600;
}

.s-row-timer{
    text-align: center;
    position: relative;
    top: -4rem;
    left: -10rem;
    border: 3px solid #8ad8e0;
    padding: 2em;
    border-radius: 1rem;
    cursor: pointer;
}
.s-row-timer h2{
    margin-bottom: 1rem;
    color: #fff;
    font-family: sans-serif;
    letter-spacing: 1px;
}
.s-row-timer p{
    color: #fff;
    font-family: sans-serif;
    letter-spacing: 1px;
}

                        /*  OUR SERVICES */
        

.service-bg{
    position: absolute;
    z-index: -99;
    left: 1px;
    top: -3rem;
    object-fit: cover;
    opacity: 0.6;
    overflow: hidden;
}                        
.service-section{
    margin-top: 2rem;
    padding: 5rem 4rem;
    text-align: center;
    position: relative;
}
.service-heading p{
    margin: 1rem 0;
    font-weight: 500;
    color: rgb(139, 137, 137);
}
.service-menu{
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
    flex-wrap: wrap;
    gap: 20px;
}
.service-menu .dev{
    width: 15rem ;
    box-shadow:  14px -14px 20px #dedede,
                -14px 14px 20px #ffffff;
    justify-content: center;
    align-content: center;
    padding: 10px;
    border-radius: 1rem;
    z-index: 99;
    
}
.service-menu .dev img{
    width: 100px;
    height: 100px;
}
.service-menu .dev h4{
    margin: 15px 0;
    font-weight: 600;
}
.service-menu .dev p{
    color: rgb(139, 137, 137);
}

                /*  MEET OUR TEAM */
                                                /* WHY ARMANE */
.team-section {
    padding: 5rem 4rem;
}
.team-section h2{
    text-align: center;
}
.team-menu {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 3rem;
    column-gap: 3rem;
    margin-top: 5rem;
}
.team-menu .team{
    height: 9rem;
    width: 29rem;
    border-radius: 15px;
    display: flex;
    background: #FFF;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}
.team-menu .team img{
    width: 6rem;
    border-radius: 15px 0 0 15px;
}
.team-info{
    padding: 20px;
}
.team-info h3{
    margin-bottom: 5px;
    color: rgb(126, 126, 126);

}
.team-info p{
    line-height: 1.3rem;
    color: rgb(194, 192, 192);
}
.team-bg-img{
    position: absolute;
    z-index: -99;
    right: 100px;
}


                /* OUR PARTNERS */


.partner-section{
    margin-top:2rem ;
    padding: 5rem 4rem;
}
.partner-section h2{
    text-align: center;
    margin: 2rem 0;
}


/* brand name slider  */
#slider{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.child{
    width: 20%;
    margin: 0 10px;
    display: none;
}   
.child img{
    height: 100px;
    width: 200px;

}

#left-btn{
    margin-left: 12px;
    display: inline-block;
    width: 3%;
   
}
#right-btn{
    margin-left: 12px;
    display: inline-block;
    width: 3%;
}
.arrow-icon{
    padding: 5px 5px 3px 5px;
    font-weight: 800;
    font-size: 1rem;
    cursor: pointer;
}


